body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("/image/background-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
}

.form {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    width: 400px;
    padding: 30px;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 25px;
    color: #333;
    font-family: sans-serif;
}

#googlemethod {
    height: 55px;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

#googlemethod img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

#googlemethod p {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    margin: 0;
}

#googlemethod:hover {
    background-color: #F8F9FA;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}