

body {
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#history-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.returnb img {
    position: fixed;
    top: 0px;
    width: 60px;
    height: 60px;
}

.history-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    border-radius: 6px;
    background-color: #fdfdfd;
}

.history-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.history-item span {
    flex-grow: 1;
    color: #333;
    font-size: 16px;
}

@media screen and (max-width: 400px) {
    .history-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .history-item img {
        margin-bottom: 5px;
    }
}